.login-container{
    width: 90%;
    margin: auto;
    margin-top: 100px;
    /* border: 1px solid red; */
}

.login-title{
    /* border: 1px solid red; */
    text-align: center;
    color: #878484;
    font-size: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.wrap-login{
    border: 1px solid #F2D9D6;
    border-radius: 15px;
}
.login-email{
    /* border: 1px solid red; */
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.login-email input{
    /* background: #FAEFED; */
    border: 1px solid #FAEFED;
    height: 50px;
    width: 400px;
    border-radius: 20px;
    padding-left: 15px;
    letter-spacing: 2px;
}
.login-email :focus{
    border: 1px solid #f7e1dd;
    outline: none;
}
.login-password{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.login-password :focus{
    border: 1px solid #f7e1dd;
    outline: none;
}
input:focus::placeholder{
    opacity: 0.5;
}
.login-password input{
    /* background: #FAEFED; */
    border: 1px solid #FAEFED;
    height: 50px;
    width: 400px;
    border-radius: 20px;
    padding-left: 15px;
    letter-spacing: 2px;
}
.login-forgotpassword{
    padding-bottom: 20px;
    margin: auto;
    width: 400px;
}
.login-forgotpassword a{
    text-decoration: none;
    color: #878484;
    font-size: 12px;
    letter-spacing: 2px;
}
.login-forgotpassword a :hover{
    color: #DE3131;
}
.login-button:hover{
    color: #F2D9D6;
    background-color: #de3131d3;
}
.login-button{
    text-decoration: none;
    color: #878484;
    background: #F2D9D6;
    border: none;
    font-size: 20px;
    letter-spacing: 2px;  
    text-align: center;
    padding: 15px 30px;
    width: 150px;
    display: block;
    margin: auto;
    border-radius: 2000px;
}
.login-createaccount{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.login-createaccount a{
    text-decoration: none;
    color: #878484;
    font-size: 12px;
    letter-spacing: 2px;
}
.login-createaccount a:hover{
    color: #DE3131;
}
@media screen and (max-width: 768px){
    .login-title{
        font-size: 30px;
    }
    .login-email input{
        width: 80%;
    }
    .login-password input{
        width: 80%;
    }
    .login-forgotpassword{
        width: 80%;
    }
    .login-button{
        margin-top: 30px;
        padding: 10px 25px;
    }
}