.givethemsurprice{
    margin-top: 50px;
}
.givethemsurprice-container{
    width: 90%;
    margin: auto;
    padding: 40px 25px;
    border: 1px solid #D7C4C4;
    border-radius: 10px;
}
.wrap-givethemsurprice-txt-pic{
    display: flex;
}
.wrap-givethemsurprice-txt-button{
    position: relative;
    padding: 70px 40px 40px 40px;
}
.givethemsurprice-title{
    color: #5D4C4C;
    font-size: 28px;
    margin-bottom: 10px;
    letter-spacing: 3px;
}
.givethemsurprice-txt{
    color: #867979;
    line-height: 1.5;
    letter-spacing: 3px;
}
.givethemsurprice-txt p{
    margin-bottom: 3px;
}
.givethemsurprice-txt-sectitle{
    font-size: 18px;
    margin-bottom: 5px;
}
.givethemsurprice-button{
    position: absolute;
    right: 50px;
    bottom: 50px;
}
.givethemsurprice-button a{
    text-decoration: none;
    background-color: #F2D9D6;
    padding: 15px 30px;
    border-radius: 2000px;
    color: #878484;
    letter-spacing: 5px;
    font-size: 16px;
}
.givethemsurprice-button a:hover{
    color: #F2D9D6;
    background-color: #de3131d3;
}
.givethemsurprice-pic{
    width: 100%;
}
.givethemsurprice-pic img{
    width: 100%;
    border-radius: 10px;
}
@media screen and (max-width: 1200px){
    .wrap-givethemsurprice-txt-button{
        padding: 10px 10px 40px;
    }
    .givethemsurprice-button a{
    }
}
@media screen and (max-width: 768px){
    .givethemsurprice-container{
        width: 90%;
    }
    .givethemsurprice-pic{
        margin-top: 50px;
    }
    .wrap-givethemsurprice-txt-pic{
        flex-direction: column;
    }
    .wrap-givethemsurprice-txt-button{
        padding: 20px 40px 40px 40px;
    }
    .givethemsurprice-container{
        padding: 20px 10px 50px 10px;
    }
    .givethemsurprice-button{
        bottom: 0;
        right: 0;
    }
    .givethemsurprice-title{
        margin-bottom: 20px;
    }
}


/* 卡片 */
.makeyourown{
    /* border: 1px solid red; */
    margin-top: 100px;
}
.makeyourown-card-container{
    width: 80%;
    margin: auto;
    position: relative;
}
.wrap-makeyourown-card{
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
}
.wrap-makeyourown-card a{
    text-decoration: none;
}
.makeyourown-card-pic{
    /* border: 1px solid red; */
    width: 200px;
    position: relative;
}
.makeyourown-card-pic img{
    width: 100%;
}
.addtocart-button{
    /* border: 1px solid red; */
    font-size: 11px;
    text-align: center;
    letter-spacing: 2px;
    border-radius: 3px;
    background-color: #EDC8C3;
    padding: 15px 65px;
    position: absolute;
    bottom: 0px;
    display: none;
}
.addtocart-button p{
    color: #777777;
    font-size: 12px;
    /* border: 1px solid red; */
}
.makeyourown-card:hover .addtocart-button{
    display: block;
    transition: 2s;
}
.makeyourown-txt{
    margin-top: 10px;
    letter-spacing: 2px;
    line-height: 1.5;
    /* border: 1px solid red; */
    color: #867979;
}
.makeyourown-card-name{
    text-align: center;
}
.wrap-makeyourown-card-num-price{
    /* border: 1px solid red; */
    width: 75%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}
.makeyourown-more{
    position: absolute;
    right: 0;
    bottom: -80px;
}
.makeyourown-more a{
    text-decoration: none;
    background-color: #F2D9D6;
    padding:  20px;
    border-radius: 2000px;
    color: #878484;
    letter-spacing: 5px;
    font-size: 16px;
}
.makeyourown-more a:hover{
    color: #F2D9D6;
    background-color: #de3131d3;
}
@media screen and (max-width: 768px){
    .wrap-makeyourown-card{
        flex-direction: column;
    }
    .makeyourown-card-pic{
        width: 280px;
        margin: auto;
    }
    .wrap-makeyourown-card-num-price{
        width: 60%;
        justify-content: space-around;
    }
    .makeyourown-card{
        margin-bottom: 30px;
    }
    .addtocart-button{
        padding: 20px 105px;
    }
    .makeyourown-more{
        bottom: -70px;
        padding: 20px;
    }
}
/* 作品參考 */
.collection{
    margin-top: 200px;
}
.collection-container{
    width: 800px;
    margin: auto;
    /* border: 1px solid red; */
}
.collection-title{
    text-align: center;
    color: #5D4C4C;
    font-size: 28px;
    letter-spacing: 2px;
}
.collection-title-line{
    height: 5px;
    width: 100px;
    border-bottom: 1px solid #7F7F7F;
    margin: auto;
    margin-top: 5px;
}
.wrap-collection-pic{
    /* border: 1px solid red; */
    margin-top: 28px;
    display: flex;
    width: 267px;
}
.collection-pic{
    /* border: 1px solid black; */
}
.collection-pic img{
    border-radius: 10px;
    width: 100%;
}


/*====輪播====*/
.collection-container {
    position: relative;
    overflow: hidden;
    /* border: 1px solid red; */
    width: 800px;
}

.wrap-collection-pic {
    display: flex;
    transition: transform 1.5s ease;
}

.collection-pic {
    flex: 0 0 100%;
    max-width: 100%;
}


.left-arrow {
    left: 7%;
    top: -150px;
    position: relative;
    display: inline-block;
}

.right-arrow {
    right: -92%;
    top: -150px;
    position: relative;
    display: inline-block;
}
@media screen and (max-width: 1200px){
    .wrap-makeyourown-card{
        display: flex;
        flex-wrap: wrap;
    }
}
@media screen and (max-width: 768px){
    .collection-container{
        /* width: 75%; */
        width: 290px;
        margin: auto;
    }
    .arrow{
        top: 58%;
    }
    .wrap-collection-pic {
        align-items: center;
        gap: 3px;
        margin: 10px 0;
    }
    .wrap-collection a {
        margin: 10px 0;
    }
    .collection-pic {
        width: 290px;
        margin-bottom: 20px;
        overflow: hidden;
        float: left;
        margin-right: 0;
        margin-left: 0;

    } 
    .collection-pic img{
        width: 100%;
    }
    .left-arrow {
        left: 6%;
        top: -160px;
        font-size: 20px;
    }
    
    .right-arrow {
        left: 86%;
        top: -160px;
        font-size: 20px;
    }
    
}
/* 立即諮詢 */
.consultnow{
    margin-top: 200px;
}
.consultnow-container{
    width: 70%;
    margin: auto;
}
.consultnow-tilte{
    text-align: center;
    color: #5D4C4C;
    font-size: 28px;
    letter-spacing: 2px;
}
.consultnow-title-line{
    height: 5px;
    width: 100px;
    border-bottom: 1px solid #7F7F7F;
    margin: auto;
    margin-top: 5px;
}
.collection-input{
    /* border: 1px solid red; */
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}
input{
    background: #FAEFED;
    border: none;
    height: 50px;
    width: 400px;
    border-radius: 15px;
    padding-left: 15px;
    letter-spacing: 2px;
}
input:focus::placeholder{
    opacity: 0.5;
}
.collection-txt{
    margin-bottom: 10px;
}
.collection-txt :focus{
    outline: none;
}
.collection-message textarea{
    border: none;
    border: 2px solid #FAEFED;
    width: 400px;
    height: 150px;
    border-radius: 15px;
    padding-top: 15px;
    padding-left: 15px;
    letter-spacing: 2px;
}
.collection-message :focus{
    outline: none;
}
textarea:focus::placeholder{
    opacity: 0.5;
}
@media screen and (max-width: 1200px){
    .wrap-input{
        flex-direction: column;
        justify-items: center;
        align-items: center;
    }
    .collection-input{
        flex-direction: column;
        justify-items: center;
        align-items: center;
    }
    input{
        width: 500px;
    }
    .collection-message textarea{
        width: 500px;
    }
}
@media screen and (max-width: 768px){
    .consultnow-container{
        margin: auto;
    }
    input{
        width: 300px;
    }
    .collection-message textarea{
        width: 300px;
    }
}
