/* 商品介紹 */
.product-desciption{
    padding-top: 80px;
}
.product-desciption-container{
    /* border: 1px solid red solid red; */
    display: flex;
    width: 60%;
    margin: auto;
}
.product-desciption-pic{
    border: 1px solid #F2D9D6;
    border-radius: 20px;
    width: 50%;
}
.product-desciption-pic img{
    width: 100%;
}
.product-desciption-txt{
    /* border: 1px solid red; */
    padding-left: 30px;
    padding-right: 10px;
    width: 50%;
}
.product-desciption-name{
    /* border: 1px solid red; */
    color: #505050;
    letter-spacing: 3px;
    font-size: 36px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.product-desciption-price{
    /* border: 1px solid red solid red; */
    color: #7F7F7F;
    font-size: 23px;
    letter-spacing: 3px;
    padding-top: 20px;
    padding-bottom: 20px;
    /* padding-left: 10px; */
}
.product-desciption-introduction{
    /* border: 1px solid red; */
    color: #7F7F7F;
    letter-spacing: 3px;
    line-height: 1.5;
    padding-top: 20px;
    padding-bottom: 20px;
}
.product-desciption-number{
    padding: 10px 35px 10px;
    align-content: center;
    border: 1px solid red;
    border-radius: 1000px;

}
.product-desciption-number input{
    font-size: 15px;
    color: #7F7F7F;
    width: 10px;
    border: none;
    outline: none;
}
.product-desciption-number input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    appearance: none; /* 移除內部和外部的箭頭 */
    -webkit-appearance: none; /* Webkit 前綴 */
    margin: 0; /* 可選：去除默認邊距 */
}

.fa-minus{
    font-size: 15px;
    margin-right: 12px;
    color: #7F7F7F;
}
.fa-plus{
    font-size: 15px;
    color: #7F7F7F;
    margin-left: 10px;
}
.wrap-product-desciption-number-cart{
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-around;
    margin-top: 70px;
    letter-spacing: 3px;
}
.wrap-product-desciption-number-cart a{
    text-decoration: none;
}
.product-desciption-cartbutton{
    /* border: 1px solid red solid red; */
    background-color: #f2d9d6d2;
    color: #7F7F7F;
    font-size: 13px;
    align-content: center;
    border-radius: 1000px;
    padding: 20px 35px 20px;
}
.product-desciption-cartbutton:hover{
    color: #F2D9D6;
    background-color: #de3131d3;
}
@media screen and (max-width: 768px){
    .product-desciption-container{
        /* border: 1px solid red; */
        width: 70%;
        flex-direction: column;
        /* margin: auto; */
    }
    .product-desciption-pic {
        width: 100%;
    }
    .product-desciption-name{
        font-size: 26px;
    }
    .product-desciption-introduction p{
        font-size: 12px;
    }
    .product-desciption-txt{
        /* border: 1px solid red; */
        padding-left: 0;
        padding-right: 0;
        width: 100%;
    }
    .product-desciption-number{
        padding: 10px;
    }
    .product-desciption-cartbutton{
        padding: 20px;
    }
    .wrap-product-desciption-number-cart{
        margin-top:20px;
        justify-content:space-between
    }
}
/* 你可能會喜歡 */
.youmightlike{
    padding-top: 120px;
}
.youmightlike-container{
    /* border: 1px solid red solid red; */
    width: 90%;
    margin: auto;
}
.youmightlike-title{
    /* border: 1px solid red solid red; */
    text-align: center;
    color: #7F7F7F;
    font-size: 26px;
    letter-spacing: 3px;
}
.youmightlike-title-line{
    height: 5px;
    width: 160px;
    border-bottom: 1px solid #7F7F7F;
    margin: auto;
}
.wrap-youmightlike-card{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.youmightlike-card-pic{
    /* border: 1px solid red solid red; */
    width: 150px;
    padding-left: 20px;
    padding-right: 20px;
}
.youmightlike-card-pic img{
    width: 100%;
}
.youmightlike-card-txt{
    /* border: 1px solid red solid red; */
    text-align: center;
    letter-spacing: 3px;
    color: #867979;
    font-size: 16px;
    line-height: 1.5;
    margin-top: 5px;
}
.youmightlike-card-txt a{
    text-decoration: none;
    color: #867979;
}
.youmightlike-card-pic:hover {
    transform: scale(1.1);
    transition: .8s;
}
@media screen and (max-width: 768px){
    .wrap-youmightlike-card{
        flex-direction: column;
        align-items: center;
        /* overflow: hidden; */
    }
}
/* 顧客評價 */
.customer-reviews{
    /* border: 1px solid red; */
    padding-top: 120px;
}
.customer-reviews-container{
    /* border: 1px solid red; */
    width: 70%;
    margin: auto;
}
.customer-reviews-line{
    height: 5px;
    width: 100px;
    border-bottom: 1px solid #7F7F7F;
    margin: auto;
}
.wrap-customer-reviews-list{
    border: 1px solid #F2D9D6;
    border-radius: 20px;
    margin-top: 50px;
    padding: 40px 100px;
}
.customer-reviews-list{
    border-bottom: 1px solid #F2D9D6;
    display: flex;
    padding-top: 30px;
    padding-bottom: 30px;
}
.customer-reviews-list-pic{
    /* border: 1px solid red; */
    align-content: center;
}
.customer-reviews-list-txt{
    /* border: 1px solid red; */
    margin-left: 20px;
    line-height: 2;
}
.customer-reviews-title{
    /* border: 1px solid red solid red; */
    text-align: center;
    color: #7F7F7F;
    font-size: 26px;
    letter-spacing: 3px;
}
.fa-circle-user{
    /* border: 1px solid red; */
    font-size: 60px;
    color: #F2D9D6;
}
.fa-star{
    color: #F2D9D6;
}
.customer-comment{
    color: #7F7F7F;
}
.customer-reviews-button{
    /* border: 1px solid red; */
    margin-top: 30px;
    display: flex;
    justify-content: end;
}
.customer-reviews-button a:hover{
    color: #F2D9D6;
    background-color: #de3131d3;
}
.customer-reviews-button a{
    text-decoration: none;
    text-align: center;
    width: 80px;
    color: #7F7F7F;
    background-color: #F2D9D6;
    border-radius: 1000px;
    letter-spacing: 3px;
    padding: 20px 50px;
}
@media screen and (max-width: 768px){
    .customer-reviews-container{
        width: 80%;
    }
    .customer-reviews-list{
        flex-direction: column;
    }
    .customer-reviews-list-txt{
        margin-left: 0;
    }
    .wrap-customer-reviews-list{
        padding: 20px 30px;
    }
    .customer-comment p{
        font-size: 12px;
    }
    .fa-circle-user{
        font-size: 50px;
    }
    .fa-star{
        font-size: 14px;
    }
    .customer-reviews-button a{
        padding: 15px 15px;
        font-size: 12px;
    }
}