/* 商品介紹 */
.product-desciption{
    padding-top: 80px;
}
.product-desciption-container{
    /* border: 1px solid red solid red; */
    display: flex;
    width: 70%;
    margin: auto;
}
.product-desciption-pic{
    border: 1px solid red solid #F2D9D6;
    border-radius: 20px;
    width: 50%;
}
.product-desciption-pic img{
    width: 100%;
}
.product-desciption-txt{
    /* border: 1px solid red solid red; */
    padding-left: 30px;
    padding-right: 10px;
}
.product-desciption-name{
    /* border: 1px solid red solid red; */
    color: #505050;
    /* padding: 30px; */
    letter-spacing: 3px;
    font-size: 36px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.product-desciption-price{
    /* border: 1px solid red solid red; */
    color: #7F7F7F;
    letter-spacing: 3px;
    padding-top: 20px;
    padding-bottom: 20px;
    /* padding-left: 10px; */
}
.product-desciption-introduction{
    /* border: 1px solid red solid red; */
    color: #7F7F7F;
    letter-spacing: 3px;
    line-height: 1.5;
}
.product-desciption-number{
    border: 1px solid #DE3131;
    border-radius: 10px;
    padding: 20px 70px;
    color: #7F7F7F;
    font-size: 12px;
    align-content: center;
    display: flex;
}
.product-desciption-number p{
    /* border: 1px solid red solid red; */
    margin-left: 40px;
}
.fa-minus{
    font-size: 10px;
    margin-right: 10px;
    color: #7F7F7F;
}
.fa-plus{
    font-size: 10px;
    color: #7F7F7F;
    margin-left: 10px;
}
.wrap-product-desciption-number-cart{
    /* border: 1px solid red solid red; */
    display: flex;
    margin-top: 40px;
    letter-spacing: 3px;
}
.wrap-product-desciption-number-cart a{
    text-decoration: none;
}
.wrap-product-desciption-number-cart a :hover{
    color: #DE3131;
}
.product-desciption-cartbutton{
    /* border: 1px solid red solid red; */
    background-color: #f2d9d6d2;
    color: #7F7F7F;
    font-size: 12px;
    align-content: center;
    border-radius: 10px;
    padding: 20px 90px;
    margin-left: 50px;
}

/* 你可能會喜歡 */
.youmightlike{
    padding-top: 120px;
}
.youmightlike-container{
    /* border: 1px solid red solid red; */
    width: 90%;
    margin: auto;
}
.youmightlike-title{
    /* border: 1px solid red solid red; */
    text-align: center;
    color: #7F7F7F;
    font-size: 26px;
    letter-spacing: 3px;
}
.youmightlike-title-line{
    height: 5px;
    width: 160px;
    border-bottom: 1px solid #7F7F7F;
    margin: auto;
}
.wrap-youmightlike-card{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.youmightlike-card-pic{
    /* border: 1px solid red solid red; */
    width: 150px;
    padding-left: 20px;
    padding-right: 20px;
}
.youmightlike-card-pic img{
    width: 100%;
}
.youmightlike-card-txt{
    /* border: 1px solid red solid red; */
    text-align: center;
    letter-spacing: 3px;
    color: #867979;
    font-size: 16px;
    line-height: 1.5;
    margin-top: 5px;
}
.youmightlike-card-txt a{
    text-decoration: none;
    color: #867979;
}
.youmightlike-card-pic:hover {
    transform: scale(1.1);
    transition: .8s;
}

/* 顧客評價 */
.customer-reviews{
    /* border: 1px solid red; */
    padding-top: 120px;
}
.customer-reviews-container{
    /* border: 1px solid red; */
    width: 90%;
    margin: auto;
}
.customer-reviews-line{
    height: 5px;
    width: 100px;
    border-bottom: 1px solid #7F7F7F;
    margin: auto;
}
.wrap-customer-reviews-list{
    border: 1px solid #F2D9D6;
    border-radius: 20px;
    margin-top: 50px;
    padding: 40px 150px;
}
.customer-reviews-list{
    border-bottom: 1px solid #F2D9D6;
    display: flex;
    padding-top: 30px;
    padding-bottom: 30px;
}
.customer-reviews-list-pic{
    /* border: 1px solid red; */
    align-content: center;
}
.customer-reviews-list-txt{
    /* border: 1px solid red; */
    margin-left: 20px;
    line-height: 2;
}
.customer-reviews-title{
    /* border: 1px solid red solid red; */
    text-align: center;
    color: #7F7F7F;
    font-size: 26px;
    letter-spacing: 3px;
}
.fa-circle-user{
    /* border: 1px solid red; */
    font-size: 60px;
    color: #F2D9D6;
}
.fa-star{
    color: #F2D9D6;
}
.customer-comment{
    color: #7F7F7F;
}
.customer-reviews-button{
    /* border: 1px solid red; */
    margin-top: 30px;
    display: flex;
    justify-content: end;
}
.customer-reviews-button a :hover{
    color: #DE3131;
}
.customer-reviews-button a{
    text-decoration: none;
}
.customer-reviews-button a p{
    text-align: center;
    width: 80px;
    color: #7F7F7F;
    background-color: #F2D9D6;
    border-radius: 10px;
    letter-spacing: 3px;
    padding: 20px 50px;
}