/* 搜尋產品 */
.search{
    margin-top: 50px;
}
.search-container{
    width: 80%;
    margin: auto;
    /* border: 1px solid red; */
}
.search-icon{
    /* border: 1px solid red; */
    display: flex;
    justify-content: end;
    align-items: center;
    position: relative;
}
.search-icon input{
    border: 1px solid #EDC8C3;
    border-radius: 8px;
    line-height: 2.5;
    padding-left: 30px;
    letter-spacing: 2px;
}
input:focus::placeholder{
    opacity: 0.5;
}
.search-icon i{
    /* border: 1px solid red; */
    position: absolute;
    right: 170px;
    font-size: 12px;
    color: #878484;
}
.search-icon :focus{
    outline: none;
} 

/* 杯子蛋糕 */
.cupcake{
    margin-top: 50px;
}
.cupcake-container{
    /* border: 1px solid red; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 300px);
    width: 80%;    
    margin: auto;
}
.cupcake-container a{
    /* border: 1px solid red; */
    margin: auto;
    text-decoration: none;
}
.cupcake-pic{
    padding: 20px;
    /* border: 1px solid red; */
    width: 200px;
    position: relative;
}
.cupcake-pic img{
    width: 100%;
}
.addtocart-button{
    /* border: 1px solid red; */
    border-radius: 3px;
    background-color: #EDC8C3;
    padding: 15px 30px;
    position: absolute;
    bottom: 5px;
    left: 60px;
    display: none;
}
.addtocart-button p{
    color: #777777;
    font-size: 12px;
    /* border: 1px solid red; */
    text-align: center;
    letter-spacing: 2px;
}
.cupcake-txt{
    text-align: center;
    color: #867979;
    letter-spacing: 2px;
}
.cupcake-txt p{
    margin-top: 10px;
}
.cupcake-item:hover .addtocart-button{
    display: block;
    /* transition: 2s; */
}
@media screen and (max-width: 1200px){
    .cupcake-container{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }
}

@media screen and (max-width: 768px){
    .cupcake-container{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(12, 1fr);
    }
    .cupcake-pic{
        padding: 0 0 10px 0;
        width: 250px;
    }
    .cupcake-item{
        border: 1px solid #edc8c32f;
        padding: 20px;
        margin-bottom: 20px;
    }
    .addtocart-button{
        padding: 20px 80px;
        left: 9px;
        background-color: #edc8c3;
        
    }
    .search-icon i{
        right: 195px;
    }
    .search-icon input{
        /* padding-left: 130px; */
    }
}

/* 頁數 */
.page{
    padding-top: 80px;
}
.page-container{
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
}
.page-container a{
    text-decoration: none;
}
.page-num{
    font-size: 16px;
    padding: 20px;
    color: #5d4c4cc9;
    /* background-color: #F2D9D6; */
}
.page-num:hover{
    color: #DE3131;
}