.wrap{
    width: 100%;
    height: 60px;
    background-color: bisque;
    display: flex;
    justify-content:space-between;
    /* border: 1px solid red; */
}

.pic img{
    height: 100%;
}

.logo{
    /* border: 1px solid rebeccapurple; */
    color: rgb(51, 53, 39);
    position: absolute;
    left: 55px;
    top: 40px;
} 

/* 主選單 */
.list{
    display: flex;
}

/* 主選單的連結 */
.list a{
    display: inline-block;
    padding: 20px;
    text-decoration: none;
    font-size: 20px;
    color: rgb(255, 255, 255);
    /* border: 1px solid red; */
}

/* 主選單的hover */
.list a:hover{
    color: rgb(196, 201, 255);
}
.big_pic{
    width: 100%;
}
.big_pic img{
    /* border: 1px solid red;; */
    width: 100%;
    margin: auto;
}
.wrap_wrap{
    /* border: 1px solid red; */
    display: flex;
    
}
.card{
    /* border: 1px solid black; */
    width: 350px;
    padding: 10px;
    margin: auto;

}
.card img{
    width: 100%;
}
.txt{
    border: 1px solid rgb(237, 187, 187);
    text-align: center;
    padding: 20px 0px;
}
h2{
    text-align: center;
}
/* .wrap_product{
    display: flex;
} */
.product_img{
    width: 250px;
}
.product_img img{
    width: 100%;
}
