.visitus{
    margin-top: 100px;
}
.visitus-container{
    width: 90%;
    margin: auto;
}
.visitus-title{
    text-align: start;
    color: #878484;
    font-size: 32px;
    letter-spacing: 3px;
}
.wrap-pic-txt{
    /* border: 1px solid red; */
    display: flex;
    margin-top: 70px;
    background-image: url(rectangle1.png);
    padding: 30px 10px 30px 10px;
}
.visitus-pic{
    width: 50%;
}
.visitus-pic img{
    width: 100%;
}
.visitus-txt{
    color: #9A9594;
    padding-left: 30px;
    line-height: 2.5;
    align-content: center;
}
.visitus-googlemap-icon{
    width: 115px;;
}
.visitus-googlemap-icon img{
    width: 100%;
}
.visitus-googlemap{
    margin-top: 180px;
}
.visitus-googlemap iframe{
    width: 100%;
}
@media screen and (max-width: 768px){
    .visitus-title{
        font-size: 28px;
    }
    .visitus-pic{
        width: 100%;
    }
    .visitus-pic img{
        width: 100%;
    }
    .wrap-pic-txt{
        flex-direction: column;
    }
    .visitus-txt{
        margin-top: 20px;
        margin-top: 20px;
        padding-left: 0;
        font-size: 10px;
    }
}